html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="./stylesheets/style.css")
  body
  include sidebar.pug
    h1= message
    h2= error.status
    pre #{error.stack}
